/* ------------------------- HTML ------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ee3424;
}

a {
  color: white;
  font-size: 0.8em;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  background-color: var(--primary-color);
}

/* ####----------------- Header Component------------  #### */

.App-header {
  background-color: #030303;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 13vh;
}

.netflix-container {
  height: 100%;
  width: 15vw;
}

.netflix-logo {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* #### -----------------Search Component-------------- #### */

.search-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 450px;
}

.search {
  position: relative;
  height: 45px;
}

.search button {
  font-family: inherit;
  transition: all 0.2s linear;
  font-size: 15px;
  position: absolute;
  color: white;
  border: 1px solid white;
  width: 80px;
  height: 100%;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 7px;
}

.search button:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: #fff;
}

.search button:active,
.search button:visited {
  transform: scale(0.95);
}

.search input {
  text-indent: 10px;
  height: 100%;
  width: 100%;
  font-size: 15px;
  border-radius: 7px;
  font-family: inherit;
}

.search input:focus {
  outline: none;
}

/* #### ---------------Genre Component--------------- #### */

.genres {
  background-image: linear-gradient(to right, #f5f5f5 45%, #606060);
}

.genre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.genre:last-child {
  padding-bottom: 50px;
}

.genre-grid {
  width: 90%;
}

.genre p {
  color: var(--primary-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 50px;
  font-size: 2rem;
}

.movie img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out, box-shadow 0.5s ease-out;
  transform: scale(0.85);
}

.movie img:hover {
  transform: scale(1);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
}

/*--------------------------- Slider Css----------------------- */

/* both arrows */
.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
  color: var(--primary-color) !important;
  /* padding-right: 20px; */
}

.slick-prev {
  left: -3% !important;
}

.slick-next {
  left: 101% !important;
}

/*----------------------- Movies Details----------------------- */
.details-container {
  display: grid;
  grid-template-rows: 74vh;
  grid-template-columns: 1fr 600px 10px 600px 1fr;
  justify-content: stretch;
  align-items: center;
  background-image: linear-gradient(to right, #f5f5f5 45%, #606060);
  z-index: -10;
}

.trailer {
  grid-column: 4/ 5;
  grid-row: 1 /-1;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 35vh;
  z-index: 3;
}

.poster {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
  align-self: stretch;
  width: 100%;
}

.details {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  z-index: 3;
  padding: 30px;
  height: 35vh;
  width: 100%;
}
.details .overview {
  font-size: 13px;
}

.details .details-heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.details .details-title {
  margin-right: auto;
}

.details .details-date {
  margin-right: auto;
  font-size: 14px;
  padding-bottom: 20px;
}

.details::after {
  content: "";
  background-color: black;
  height: 35vh;
  width: 100%;
  opacity: 0.4;
  position: absolute;
  border-radius: 1px;
  z-index: -1;
}

.details-container .play-button {
  z-index: 3;
  transition: all 0.2s linear;
  font-size: 25px;
  color: #fff;
  border: 1px solid #fff;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 7px;
  padding: 14px 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.details button:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: #fff;
}

.details button:active,
.details button:visited {
  transform: scale(0.95);
}

.details .playIcon {
  margin-right: 6px;
  /* as padding increases icon shrinks */
  padding: 1px;
}

.details .return {
  margin-left: auto;
  z-index: 3;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s linear;
  font-size: 20px;
  border-bottom: 1px solid transparent;
  display: flex;
}

.details .return:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  transform: translateY(-2px);
}

.details .return:after {
  content: "\21E8";
  margin-left: 10px;
}

/* ---------------------No Match page--------------------- */
.no-match {
  background-image: linear-gradient(to right, #f5f5f5 45%, #606060);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 13vh);
}

.no-match-heading {
  font-size: 40px;
}

.no-match a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s linear;
  font-size: 25px;
  border-bottom: 1px solid transparent;
  position: relative;
  display: flex;
  margin-top: 30px;
}

.no-match a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  transform: translateY(-2px);
}

.no-match a:after {
  content: "\21E8";
  margin-left: 10px;
}

/* ---------------------- Search Results ---------------------- */

.results-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  background-image: linear-gradient(to right, #f5f5f5 45%, #606060);
  padding: 20px;
}

.results-grid img {
  width: 100%;
  transition: transform 0.3s ease-out, box-shadow 0.5s ease-out;
  transform: scale(0.85);
}

.results-grid img:hover {
  transform: scale(1);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
}

/* #### ------------ERROR Component -------------------------####*/

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

/* #### ------------Footer Component -------------------------####*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030303;
  color: #fff;
  height: 13vh;
  font-size: 24px;
}

/* #### ------------Spinner Component -------------------------####*/

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

/* #### ------------Media Queries -------------------------####*/

/* --------------------------------EXTRA--lARGE ----------------------------------------------------------------- */
@media only screen and (max-width: 1400px) {
  .netflix-container {
    width: 18vw;
  }
}

/* --------------------------------lARGE ----------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
  /* ---------------------Header Component---------------------  */
  .netflix-container {
    width: 22vw;
  }

  /* ----------------Search Component------------------ */
  .search {
    height: 40px;
  }

  .search button {
    font-size: 13px;
  }

  .search input {
    text-indent: 8px;
    font-size: 13px;
  }
}

/* --------------------------------MEDIUM ----------------------------------------------------------------- */

@media only screen and (max-width: 1000px) {
  .netflix-container {
    width: 30vw;
  }

  .search-container {
    transform: translate(-25%, -50%);
  }
}

/* --------------------------------SMALL ----------------------------------------------------------------- */
@media only screen and (max-width: 850px) {
  .netflix-container {
    width: 34vw;
  }

  .search-container {
    transform: translate(-25%, -50%);
    width: 50%;
  }
}

/* ---------------------------- MOBILE-----------------------------------------------------------*/
@media only screen and (max-width: 700px) {
  /* ---------------------Header Component---------------------  */

  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    padding-bottom: 10px;
  }

  .netflix-container {
    display: block;
    width: 100%;
  }

  .netflix-logo {
    height: 20vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
  }

  /* ----------------Search Component------------------ */

  .search-container {
    position: static;
    display: block;
    transform: translate(-12%, 0);
    width: 50%;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .search-container input {
    font-size: 11px;
  }

  .search-container button {
    font-size: 11px;
  }

  /* ------------------------Slider ------------------------- */

  /*--------------------------  Results------------------ */

  .results-grid {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100vw;
    background-color: #282c34;
    min-height: 100vh;
    padding: 75px 10px 10px 10px;
  }

  .results-movie {
    width: 50vw;
    padding: 0 0 2em 0;
  }

  /* -------------------------Details------------------- */
  .details-container {
    background-color: #282c34;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    padding: 0;
    height: 100%;
  }

  .details-container .float-left {
    float: none;
    width: 100%;
    padding: 20px 20px 0px 20px;
    margin: 0px;
  }

  h1.float-left {
    font-size: 1.6em;
  }

  p {
    padding: 20px;
  }

  p.return {
    padding: 1.5em 1.2em 1em 2em;
  }

  .details-container .float-right {
    float: none;
    width: 100%;
    text-align: left;
    padding: 0.2em 1em 0.3em 1em;
    margin: 0px;
    font-size: 1.3em;
  }

  .trailer-image {
    display: block;
    max-width: 85vw;
    max-height: 75vh;
    width: 100%;
    padding-top: 4.5em;
  }

  .trailer {
    max-width: 85vw;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2em;
    height: 75vh;
  }

  .details-container p {
    font-size: 0.9em;
  }

  .return {
    width: 50% !important;
  }

  /* ---------------------------no match----------------- */
  .no-match p {
    font-style: italic;
    color: var(--primary-color);
    font-size: 1.2em;
    margin-top: 1.2em;
    float: none;
  }
}
