@import "./header.css";
@import "./genres.css";
@import "./details.css";
@import "./results.css";
@import "./error.css";
@import "./nomatch.css";
@import "./footer.css";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ee3424;
  --primary-font: 'Poppins', sans-serif;
}

html {
  font-family: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  font-family: var(--primary-font);
}

a {
  color: white;
  font-size: 0.8em;
}