.details-wrapper {
    height: 75vh;
}

.details {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    z-index: 3;
    width: 100%;
    font-family: var(--primary-font);
    max-width: 500px;
    height: 100%;
    padding: 10px;
}

.details::after {
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    position: absolute;
    border-radius: 1px;
    z-index: -1;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: inherit;
    justify-content: center;
    height: 100%;
}

.details-trailer-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.overview {
    font-size: 13px;
}

.details-heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.details-title {
    margin-right: auto;
    font-size: 32px;
}

.details-date {
    margin-right: auto;
    font-size: 14px;
    padding-bottom: 20px;
}

.play-button {
    z-index: 3;
    transition: all 0.2s linear;
    font-size: 25px;
    color: #fff;
    border: 1px solid transparent;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    padding: 14px 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    color: var(--primary-color);
    background-color: #fff;
}

button:active,
button:visited {
    transform: scale(0.95);
}

.playIcon {
    margin-right: 6px;
    /* as padding increases icon shrinks */
    padding: 1px;
}

.return {
    z-index: 3;
    font-family: var(--primary-font);
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s linear;
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 250px;
    margin: 60px auto;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 3px;
}

.return:hover {
    color: var(--primary-color);
    background-color: #fff;
}




.trailer {
    width: 500px;
}

.trailer iframe {
    max-width: 500px;
    min-height: 300px;
    height: 100%;
    width: 100%;
    border: none;
}

/* --------------------------------EXTRA--lARGE ----------------------------------------------------------- */
@media only screen and (max-width: 1400px) {


    .details-date {
        margin-right: auto;
        font-size: 12px;
        padding-bottom: 20px;
    }

    .overview {
        font-size: 11px;
    }

    .play-button {
        font-size: 23px;
    }

    .return {
        font-size: 18px;
    }
}


/* --------------------------------lARGE ----------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    .details-title {
        font-size: 28px;
    }


}

@media only screen and (max-width: 1100px) {
    .details-trailer-container {
        flex-direction: column;
        align-items: center;
    }
}

/* --------------------------------Mobile ----------------------------------------------------------------- */
@media only screen and (max-width: 700px) {

    .play-button {
        font-size: 20px;
        padding: 12px 60px;
    }

    .return {
        font-size: 15px;
    }

    .details-title {
        font-size: 24px;
    }
}