/*----------------------- Movies Details----------------------- */
.trailer {
    width: 500px;
}

.trailer iframe {
    max-width: 500px;
    min-height: 300px;
    height: 100%;
    width: 100%;
    border: none;
}


.details {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    z-index: 3;
    padding: 30px;
    width: 100%;
    font-family: var(--primary-font);
    max-width: 500px;
    height: 100%;
    width: 500px;
}

.details::after {
    content: "";
    background-color: black;
    height: 300px;
    width: 500px;
    opacity: 0.8;
    position: absolute;
    border-radius: 1px;
    z-index: -1;
}

.details_trailer_container {
    display: flex;
    justify-content: space-around;
}

.details .overview {
    font-size: 13px;
}

.details .details-heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.details .details-title {
    margin-right: auto;
    font-size: 32px;
}

.details .details-date {
    margin-right: auto;
    font-size: 14px;
    padding-bottom: 20px;
}

.details-container .play-button {
    z-index: 3;
    transition: all 0.2s linear;
    font-size: 25px;
    color: #fff;
    border: 1px solid transparent;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    padding: 14px 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.details button:hover {
    color: var(--primary-color);
    background-color: #fff;
}

.details button:active,
.details button:visited {
    transform: scale(0.95);
}

.details .playIcon {
    margin-right: 6px;
    /* as padding increases icon shrinks */
    padding: 1px;
}

.details .return {
    margin-left: auto;
    z-index: 3;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s linear;
    font-size: 20px;
    border-bottom: 1px solid transparent;
    display: flex;
}

.details .return:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    transform: translateY(-2px);
}

.details .return:after {
    content: "\21E8";
    margin-left: 10px;
}

/* --------------------------------EXTRA--lARGE ----------------------------------------------------------- */
@media only screen and (max-width: 1400px) {


    .details .details-date {
        margin-right: auto;
        font-size: 12px;
        padding-bottom: 20px;
    }

    .details .overview {
        font-size: 11px;
    }

    .details-container .play-button {
        font-size: 23px;
    }

    .details .return {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1250px) {
    .details-container {
        display: block;
    }
}

/* --------------------------------lARGE ----------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    .details .details-title {
        font-size: 28px;
    }
}

/* --------------------------------Mobile ----------------------------------------------------------------- */
@media only screen and (max-width: 700px) {
    .details-container {
        height: 100vh;
    }

    .details-container .play-button {
        font-size: 20px;
        padding: 12px 60px;
    }

    .details-container .return {
        font-size: 15px;
    }

    .details .details-title {
        font-size: 24px;
    }
}