.footer {
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030303;
    color: #fff;
    height: 13vh;
    font-size: 20px;
}


/* --------------------------------lARGE ----------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    .footer {
        font-size: 16px;
    }
}

/* --------------------------------Mobile ----------------------------------------------------------------- */
@media only screen and (max-width: 700px) {
    .footer {
        font-size: 16px;
    }
}

/* --------------------------------Mobile Small------------------------------------------------------------- */
@media only screen and (max-width: 600px) {
    .footer {
        font-size: 12px;
    }
}