.App-header {
    background-color: #030303;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 15vh;
}

.netflix-container {
    height: 100%;
    width: 15vw;
}

.netflix-logo {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.search-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 450px;
}

.search {
    position: relative;
    height: 45px;
}

.search button {
    font-family: var(--primary-font);
    font-size: 15px;
    position: absolute;
    color: white;
    border: 1px solid black;
    width: 80px;
    height: 100%;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
}

.search button:hover {
    /* border: 1px solid var(--primary-color); */
    color: var(--primary-color);
    background-color: #fff;
}

.search button:active,
.search button:visited {
    transform: scale(.9);
}

.search input {
    text-indent: 10px;
    height: 100%;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    border-color: #030303;
    font-family: var(--primary-font);
}

.search input:focus {
    outline: none;
}

@media only screen and (max-width: 1400px) {
    .netflix-container {
        width: 18vw;
    }
}

@media only screen and (max-width: 1200px) {
    .netflix-container {
        width: 22vw;
    }

    .search {
        height: 40px;
    }

    .search button {
        font-size: 13px;
    }

    .search input {
        text-indent: 8px;
        font-size: 13px;
    }
}

/* --------------------------------MEDIUM ----------------------------------------------------------------- */
@media only screen and (max-width: 1000px) {
    .netflix-container {
        width: 30vw;
    }

    /* ----------------Search Component------------------ */
    .search-container {
        transform: translate(-25%, -50%);
    }
}

@media only screen and (max-width: 850px) {
    .netflix-container {
        width: 34vw;
    }

    /* ----------------Search Component------------------ */
    .search-container {
        transform: translate(-25%, -50%);
        width: 50%;

    }
}

@media only screen and (max-width: 700px) {
    /* ---------------------Header Component-------------  */

    .App-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 30vh;
        padding-bottom: 10px;
    }

    .netflix-container {
        display: block;
        width: 100%;
    }

    .netflix-logo {
        height: 20vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
    }


    .search-container {
        position: static;
        display: block;
        transform: translate(-12%, 0);
        width: 50%;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .search-container input {
        font-size: 11px;
    }

    .search-container button {
        font-size: 11px;
    }


}